<br />
<div class="row">
    <div class="col">
        <h3>savethechildren.org</h3>
        <p>Save the Children is a leading non-profit that has transformed the lives of over 1 million children.</p>
        <a class="button dark hide-pr" href="https://www.savethechildren.org/">Donate</a>
    </div>
    <div class="col">
        <h3>inara.org</h3>
        <p>Inara's mission is to fill in the gaps in access to life-altering services for children.</p>
        <a class="button dark hide-pr" href="https://www.savethechildren.org/">Donate</a>
    </div>
</div>