<div class="row">
    <div class="col">
        <h3>savethechildren.org</h3>
        <p>Save the Children is a leading non-profit that has transformed the lives of over 1M children.</p>
        <a class="button dark hide-pr" href="https://www.savethechildren.org/">Support</a>
    </div>
    <div class="col">
        <h3>inara.org</h3>
        <p>Inara's mission is to fill in the gaps in access to life-altering services for children.</p>
        <a class="button dark hide-pr" href="https://www.savethechildren.org/">Support</a>
    </div>
    <div class="col">
        <h3>unrwa.org</h3>
        <p>For 70 years, UNRWA has been delivering humanitarian support to Palestine refugees.</p>
        <a class="button dark hide-pr" href="https://donate.unrwa.org/one-time/~my-donation">Support</a>
    </div>
</div>