<div class="row hide-pr">
    <div class="col">
        <p>Palestinian Childrens Relief Fund has addressed humanitarian needs since 1991.</p>
        <a class="button dark" href="https://www.pcrf.net/">pcrf.net</a>
    </div>

    <div class="col">
        <p>Inara's mission is to fill in the gaps in access to life-altering services for children.</p>
        <a class="button dark" href="https://www.inara.org/">inara.org</a>
    </div>
    <div class="col">
        <p>Save the Children is a leading non-profit that has transformed the lives of over 1M children.</p>
        <a class="button dark" href="https://www.savethechildren.org/">savethechildren.org</a>
    </div>
</div>